<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
	<servlet>
		<servlet-name>RegPharm</servlet-name>
		<servlet-class>com.adhvay.RegPharm</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RegPharm</servlet-name>
		<url-pattern>/regpharm</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>RegScan</servlet-name>
		<servlet-class>com.adhvay.RegScan</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RegScan</servlet-name>
		<url-pattern>/regscan</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>PharmMain</servlet-name>
		<servlet-class>com.adhvay.PharmMain</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PharmMain</servlet-name>
		<url-pattern>/pharm-main</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ScanMain</servlet-name>
		<servlet-class>com.adhvay.ScanMain</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ScanMain</servlet-name>
		<url-pattern>/scan-main</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>LoginPharmAction</servlet-name>
		<servlet-class>com.adhvay.LoginPharmAction</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginPharmAction</servlet-name>
		<url-pattern>/loginPaction</url-pattern>
	</servlet-mapping>
	<servlet>
	    <servlet-name>TabletData</servlet-name>
	    <servlet-class>com.adhvay.TabletData</servlet-class>
	</servlet>    
	<servlet-mapping>
	    <servlet-name>TabletData</servlet-name>
	    <url-pattern>/tablet</url-pattern>
	</servlet-mapping>
	<servlet>
	    <servlet-name>ScanData</servlet-name>
	    <servlet-class>com.adhvay.ScanData</servlet-class>
	</servlet>
	<servlet-mapping>
	     <servlet-name>ScanData</servlet-name>
	     <url-pattern>/scan</url-pattern>
	</servlet-mapping>
	<servlet>
	    <servlet-name>TestData</servlet-name>
	    <servlet-class>com.adhvay.TestData</servlet-class>
	</servlet>
	<servlet-mapping>
	     <servlet-name>TestData</servlet-name>
	     <url-pattern>/test</url-pattern>
	</servlet-mapping>
    <servlet>
		<servlet-name>VerifyPh</servlet-name>
		<servlet-class>com.adhvay.VerifyPh</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>VerifyPh</servlet-name>
		<url-pattern>/verifyPh</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>VerifyS</servlet-name>
		<servlet-class>com.adhvay.VerifyS</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>VerifyS</servlet-name>
		<url-pattern>/verifyS</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>VerifyP</servlet-name>
		<servlet-class>com.adhvay.VerifyP</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>VerifyP</servlet-name>
		<url-pattern>/verifyP</url-pattern>
	</servlet-mapping>
	
    <servlet>
		<servlet-name>RandomOTPGenPh</servlet-name>
		<servlet-class>com.adhvay.RandomOTPGenPh</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RandomOTPGenPh</servlet-name>
		<url-pattern>/rogenPh</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>RandomOTPGenP</servlet-name>
		<servlet-class>com.adhvay.RandomOTPGenP</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RandomOTPGenP</servlet-name>
		<url-pattern>/rogenP</url-pattern>
	</servlet-mapping>
	
    <servlet>
		<servlet-name>RandomOTPGenS</servlet-name>
		<servlet-class>com.adhvay.RandomOTPGenS</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RandomOTPGenS</servlet-name>
		<url-pattern>/rogenS</url-pattern>
	</servlet-mapping>
	
	<servlet>
	   <servlet-name>RetrieveData</servlet-name>
	   <servlet-class>com.adhvay.RetrieveData</servlet-class>
	</servlet>
	<servlet-mapping>
	    <servlet-name>RetrieveData</servlet-name>
	    <url-pattern>/retrieve_data</url-pattern>
	</servlet-mapping>
	
	<servlet>
	   <servlet-name>OTPCheckPh</servlet-name>
	   <servlet-class>com.adhvay.OTPCheckPh</servlet-class>
	</servlet>
	<servlet-mapping>
	    <servlet-name>OTPCheckPh</servlet-name>
	    <url-pattern>/otpcPh</url-pattern>
	</servlet-mapping>
	
	<servlet>
	   <servlet-name>OTPCheckP</servlet-name>
	   <servlet-class>com.adhvay.OTPCheckP</servlet-class>
	</servlet>
	<servlet-mapping>
	    <servlet-name>OTPCheckP</servlet-name>
	    <url-pattern>/otpcP</url-pattern>
	</servlet-mapping>
	<servlet>
	   <servlet-name>OTPCheckS</servlet-name>
	   <servlet-class>com.adhvay.OTPCheckS</servlet-class>
	</servlet>
	<servlet-mapping>
	    <servlet-name>OTPCheckS</servlet-name>
	    <url-pattern>/otpcS</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>LoginScanAction</servlet-name>
		<servlet-class>com.adhvay.LoginScanAction</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginScanAction</servlet-name>
		<url-pattern>/loginSaction</url-pattern>
	</servlet-mapping>
   <servlet>
		<servlet-name>LoginDoctorAction</servlet-name>
		<servlet-class>com.adhvay.LoginDoctorAction</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginDoctorAction</servlet-name>
		<url-pattern>/loginDaction</url-pattern>
	</servlet-mapping>
   
    <servlet>
        <servlet-name>RedirectToScan</servlet-name>
        <servlet-class>com.adhvay.RedirectToScan</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RedirectToScan</servlet-name>
        <url-pattern>/redirectS</url-pattern>
    </servlet-mapping>
	<servlet>
        <servlet-name>RedirectToTest</servlet-name>
        <servlet-class>com.adhvay.RedirectToTest</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RedirectToTest</servlet-name>
        <url-pattern>/redirectT</url-pattern>
    </servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
</web-app>
